[Unit]
Description=Go app
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
User=ubuntu
ExecStart=/home/ubuntu/work/src/devopsworkshop/start.sh

[Install]
WantedBy=multi-user.target